<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soapBinding" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webJSONBinding" />
        <binding name="webPOXBinding" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyBehavior" name="LifeFormScannerLibrary.LifeFormScanner">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="soapBinding"
          name="soap" contract="LifeFormScannerLibrary.ILifeFormScanner" />
        <endpoint address="json" behaviorConfiguration="poxBehavior"
          binding="webHttpBinding" bindingConfiguration="webJSONBinding"
          name="json" contract="LifeFormScannerLibrary.ILifeFormScanner" />
        <endpoint behaviorConfiguration="poxBehavior" binding="webHttpBinding"
          bindingConfiguration="webPOXBinding" name="post" contract="LifeFormScannerLibrary.ILifeFormScanner" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="poxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
